<header [ngClass]="{'bg-black': isScrolled}"
  class="fixed top-0 z-50 flex w-full items-center justify-between bg-gradient-to-t from-transparent to-black p-2 px-4 transition-all lg:px-16 lg:py-4">
  <div class='flex items-center space-x-2 md:space-x-8'>

    <!-- BEGIN LOGO -->
    <a routerLink='/'>
      <img src='https://rb.gy/ulxxee' alt='netflix' width="90" height="90" />
    </a>
    <!-- END LOGO -->

    <!-- BEGIN NAVLINKS -->
    <nav>
      <ul class='hidden md:flex md:space-x-4'>
        <a [routerLink]="['/search']" [queryParams]="{genre: 'Comedy'}" queryParamsHandling="merge">Comedy</a>
        <a [routerLink]="['/search']" [queryParams]="{genre: 'Action'}" queryParamsHandling="merge"> Action </a>
        <a [routerLink]="['/search']" [queryParams]="{genre: 'Adventure'}" queryParamsHandling="merge">Adventure</a>
        <a [routerLink]="['/search']" [queryParams]="{genre: 'Animation'}" queryParamsHandling="merge"> Animation </a>
      </ul>
    </nav>
    <!-- END NAVLINKS -->
  </div>

  <!-- BEGIN USER PROFILES -->
  <div class='flex items-center space-x-2 md:space-x-8'>

    <app-search-form [onSearch]="onSearch" [searchTerm]="searchTerm" />

    <p class='hidden cursor-not-allowed lg:inline'>Kids</p>
    <img width=30 height=30 src='/assets/profile.png' alt='Profile' class='cursor-pointer rounded' />
  </div>
  <!-- END USER PROFILES -->
</header>
<router-outlet></router-outlet>
